<div class="body1">

    <div class="child1" style="text-align: center; padding-top: 1%;">
          <p style="color: rgb(248, 244, 244); font-size: 2em;">This web site is a sample site</p>
          <br><br>
          <p style="color: rgb(193, 193, 194); font-size: 0.8em; letter-spacing: 0.25em;">TO DEMONSTRATE THE USE OF
             <b style="color: white; letter-spacing: 0.15em;">Angular Framework</b> </p> 
          
       
        <pre>
            <p style="color: rgb(252, 251, 251); letter-spacing: 0.0em; font-size: 0.8em; padding-top: 5%;">
                
***********************
Enter your date of birth
 it will automatically calculate
 your age
   
************************************</p>
        
        </pre>
            
          
    
    </div>

</div>
